#body
{
    background-image: url(./static/images/Abract.png);
    background-color: rgb(17, 17, 17);
}

#header
{
    background-color: none;
    color: rgb(255, 255, 255);
}


#progressBar::chunk
{
    background-color: rgb(0, 85, 255);
}

#creators
{
    color: rgb(255, 255, 255);
}

#description
{
    background-color: none;
    color: rgb(255, 255, 255);
}

#label
{
    color: rgb(255, 255, 255);
    background-color: none;
}